<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeadlineManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2163406B1D4CA3FC00E298C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>216340841D4CA3FD00E298C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2163408F1D4CA3FD00E298C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
